{% load static  %}

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <div class="container">
        {% comment %} fix index {% endcomment %}
        <a class="navbar-brand" href=#>
          <img src={% static "img/logo.png" %} class="logo" alt="" />
         </a>
            <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggle-icon" ></span>  
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">  
            <ul class="navbar-nav">
                          </ul>

        </div>
      </div>
    </nav>
